.app-menu {
  min-height: 100vh;
  background-color: var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  background: url('../../assets/menubg.png');
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.menu-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}
.heading {
  margin: 0.5rem 0rem;
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
}
.menu-title {
  font-size: 2.5rem;
  font-family: var(--font-base);
  color: var(--color-crimson);
  margin-top: 1.8rem;
}
.arrows {
  width: 10rem;
  filter: brightness(1.5);
}
.food-container{
  width: 100%;
  min-height: 70vh;
  background-color:#191919;
  opacity: 98%;
}